<section class="middle">
<div class="info-inicial col-6">
    <h1 class="introducao">Welcome To our Restaurant</h1>
    <h2 class="titulo">Its all about Good <br> Food & Taste</h2>
    <h3 class="descricao cor-ciza-claro-fg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Optio quisquam voluptatem facilis </h3>
    <button class="button-principal cor-principal-bg">Learn more</button>
</div>
<img class="img-principal" src="../../../../assets/imgprincipal.PNG" alt="">
</section>