.info-inicial {
    max-width: 50vw;
}

.introducao{
    font-size: 0.8rem; 
    font-weight: 300;  
}
.titulo{
    font-size: 1.5rem;
}
.descricao{
    font-size: 0.7rem;    
}

button, .descricao, .titulo, .introducao {
    margin-bottom: 1.5rem;
}