button {
    font-size: 1rem;
    font-weight: 100;
    padding: .875rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    width: auto;
    cursor: pointer;
}

// .button-principal {
//     padding: 5px 15px;    
// }