@import '../abstract/colors';

.cor-cinza-escuro-fg {
    color: $cinza-escuro;
}

.cor-branco-bg {
    background-color: $branco;    
}

.cor-ciza-claro-fg {
    color: $texto-secundario;
}

.cor-texto-primario-bg {
    background-color: $texto-primario;
}

.cor-texto-primario-fg {
    color: $texto-primario;
}

.cor-cinza-claro-bg {
    background-color: $cinza-claro;
}

.cor-cinza-claro-fg {
    color: $cinza-claro;
}

.cor-principal-bg {
    background-color: $principal;
}