@import '../abstract/colors';

.cor-cinza-escuro-fg {
    color: $cinza-escuro;
}

.cor-branco-bg{
    background-color: $branco;    
}

.cor-ciza-claro-fg{
    color: $cinza
}

.cor-principal-bg {
    background-color: $principal;
}