@import '../../../theme/abstract/colors';

h1 {
    align-self: flex-start;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem; 

}

.container-cards {
    display: flex;
    gap: 2rem;
}

.card {
    border-radius: 10px;
    height: 12rem;
    width: 15rem;
    border: 2px solid $cinza-claro;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    box-shadow: -2px 3px 45px -20px $cinza-claro;
}

img {
    width: 60px;
}

.nome {
    font-size: 1.2rem;  
   text-align: center;
}